@model planinarskoUdruzenjeV3.Models.News

@{
    ViewData["Title"] = "Izmjena obavjestenja";
}

<h1>Izmijena obavještenja</h1>

<div class="row edit">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Naslov</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Category" class="control-label">Kategorija</label>
                    <select asp-for="Category" class="form-control">
                        <option>--Izaberi kategoriju--</option>
                        @foreach (var item in News.GetCategoryList)
                        {
                            <option>@item</option>
                        }
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>

                </div>
                <div class="form-group col-6">
                    <label class="control-label">Dodaj prilog</label>
                    <input class="form-control" type="file" name="files" multiple />
                </div>
            </div>
            <div class="col-12">
                <label class="control-label">Slike</label>
                <div class="col-sm-12">
                    @{
                        int i = 0;
                        <div class="row">
                            @foreach (var item in Model.File)
                            {
                                @if (!item.IsImage())
                                {
                                    <input type="hidden" name="oldFiles[@i]" value="0" />
                                    <a class="mr-3" href="~/File?id=@item.Id">@item.FileName</a>
                                    <span class="image-delete" style="position: relative;" data-toggle="modal" data-target="#modal-image-delete" data-image-id="@item.Id">
                                        <i class="fas fa-trash-alt mr-2"></i>
                                    </span>
                                    i = i + 1;
                                }
                            }
                        </div>
                        <div class="row">
                            @foreach (var item in Model.File)
                            {
                                @if (item.IsImage())
                                {
                                    <div class="col-md-4 col-sm-6 pb-4">
                                        <input type="hidden" name="oldFiles[@i]" value="0" />
                                        <img src="~/File?id=@item.Id" class="w-100" style="height:250px">
                                        <span class="image-delete" data-toggle="modal" data-target="#modal-image-delete" data-image-id="@item.Id">
                                            <i class="fas fa-trash-alt mr-2"></i>
                                        </span>
                                    </div>
                                    i = i + 1;
                                }

                            }
                        </div>
                    }
                </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad</a>
</div>

<div class="modal fade" id="modal-image-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Brisanje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite izbrisati ovu sliku?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button id="btn-delete-image" data-image-id="" type="button" class="btn btn-danger " data-dismiss="modal">Izbrisi</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        CKEDITOR.replace("Description");

        $("#btn-delete-image").click(function () {
            var imageId = $(this).data('imageId');
            var parentDiv = $("*[data-image-id=\"" + imageId + "\"]").closest('div');
            parentDiv[0].style.display = "none";
            parentDiv.find('input').val(imageId);
        });

        $(".image-delete").click(function (event) {
            $("#btn-delete-image").data("imageId", $(this).data('imageId'));
        });
    </script>
}
