@model planinarskoUdruzenjeV3.Models.Event

@{
    ViewData["Title"] = "Dodaj novu planinarsku akciju";
}

<h1>Dodaj novu planinarsku akciju</h1>


<form asp-action="Create" enctype="multipart/form-data">
    <div class="row edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 form-group">
            <label asp-for="Title" class="control-label">Naslov</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="Description" class="control-label">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Date" class="control-label">Datum održavanja</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Deadline" class="control-label">Rok za prijavu</label>
            <input asp-for="Deadline" class="form-control" />
            <span asp-validation-for="Deadline" class="text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="Location" class="control-label">Lokacija</label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="MaxParticipanst" class="control-label">Maksimalan broj učesnika</label>
            <input asp-for="MaxParticipanst" class="form-control" />
            <span asp-validation-for="MaxParticipanst" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Price" class="control-label">Cijena</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label">Dodaj prilog</label>
            <input class="form-control" type="file" name="files" />
        </div>

        <div class="col-12 text-right">
            <a class="btn btn-link ml-auto" type="button" asp-action="Index">Nazad</a>
            <button class="btn btn-primary" type="submit">Kreiraj</button>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        CKEDITOR.replace("Description");
    </script>
}
