@model planinarskoUdruzenjeV3.Models.Event

@{
    ViewData["Title"] = "Izmijeni";
}


<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 form-group">
            <label asp-for="Title" class="control-label">Naziv</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="Description" class="control-label">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Date" class="control-label">Datum održavanja</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Deadline" class="control-label">Rok za prijavu</label>
            <input asp-for="Deadline" class="form-control" />
            <span asp-validation-for="Deadline" class="text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="Location" class="control-label">Lokacija</label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="MaxParticipanst" class="control-label">Maksimalan broj učesnika</label>
            <input asp-for="MaxParticipanst" class="form-control" />
            <span asp-validation-for="MaxParticipanst" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Price" class="control-label">Cijena (KM)</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label">Prilog</label>
            <input class="form-control" type="file" id="Avatar" name="files" multiple />
        </div>
        <div class="col-12">
            <div class="col-sm-12">
                @foreach (var item in Model.File)
                {
                    @if (!item.IsImage())
                    {
                        <a class="mr-3" href="~/File?id=@item.Id">@item.FileName</a>
                    }
                }

            </div>

            <div class="row">

                @{
                    int i = 0;
                    foreach (var item in Model.File)
                    {
                      
                        @if (item.IsImage())
                        {
                            <div class="col-md-4 col-sm-6 pb-4">
                                <a target="_blank">
                                    <input type="hidden" name="oldFiles[@i]" value="0"  />
                                    <img src="~/File?id=@item.Id" class="w-100" style="height:250px">
                                    <span class="image-delete" data-toggle="modal" data-target="#modal-image-delete" data-image-id="@item.Id">
                                        <i class="fas fa-trash-alt mr-2"></i>
                                    </span>
                                </a>
                            </div>
                        }
                        i = i + 1;
                    }
                 }

                </div>

        </div>
        <div class="col-12 text-right">
            <a class="btn btn-link ml-auto" type="button" asp-action="Index">Nazad</a>
            <button class="btn btn-primary" type="submit">Sačuvaj</button>
        </div>
    </div>
</form>



<div class="modal fade" id="modal-image-delete"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Brisanje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite izbrisati ovu slicku?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button id="btn-delete-image" data-image-id="" type="button" class="btn btn-danger " data-dismiss="modal">Izbrisi</button>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        CKEDITOR.replace("Description");
        $("#btn-delete-image").click(function () {
            var imageId = $(this).data('imageId');
            var parentDiv = $("*[data-image-id=\"" + imageId + "\"]").closest('div');
            parentDiv[0].style.display = "none";
            parentDiv.find('input').val(imageId);
        });

        $(".image-delete").click(function (event) {
            $("#btn-delete-image").data("imageId", $(this).data('imageId'));
        });

    </script>

}
