@model IEnumerable<planinarskoUdruzenjeV3.Models.User>



    <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3 ml-sm-auto pr-sm-0">
            <div class="white-box left-side sh-above">
                <div class="img">
                    <img src="https://i.fbcd.co/products/original/8e6ff7669edb9c107cafdedba04b81c6bc93d306ef866af1f87d06f349517378.jpg" alt="logo-img" height="100px" width="150px" class="img-fluid animated fadeInDown">
                </div>
                <h2 class="animated fadeInDown">Welcome to Bootstrap Layouts</h2>
                <ul class="social list-unstyled animated fadeInDown flex-centering">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="background-color: #0059b3;"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google" style="background-color: #b30000;"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4 mr-sm-auto pl-sm-0">
            <div class="white-box sh-above flex-centering">
                <form action="/testttt" method="post">
                    <h2>Register</h2>
                    <p class="hint-text">Create your account. It's free and only takes a minute.</p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
                            <div class="col-md-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
                    </div>
                    <div class="form-group">
                        <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
                    </div>
                </form>
                <div class="text-center">Already have an account? <a href="#">Sign in</a></div>
            </div><!-- end white-box -->
        </div>
    </div>