@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam imperdiet risus id metus pellentesque tempor.
            Sed justo lorem, sollicitudin quis posuere vel, imperdiet vel sem. In id dictum ligula, nec ultrices est.
            Donec pulvinar sit amet augue non dictum. Nunc at diam eget lorem vestibulum venenatis.
            Nulla dignissim, mauris vel gravida rutrum, lorem nulla lacinia lorem, quis accumsan velit risus eget quam.
            Phasellus molestie orci sit amet tincidunt scelerisque.
        </p>
    </div>

    <div class="col-12">
        <p>
            Nullam lacinia tortor in egestas ultrices. Praesent consectetur lorem quis malesuada condimentum. 
            Ut interdum, neque eget mollis luctus, urna nisi aliquet augue, nec sollicitudin purus tortor at sapien.
            Sed a nulla et ipsum placerat fermentum et et eros. Vestibulum dictum tellus commodo lectus venenatis ornare.
            Phasellus sed tortor maximus, feugiat urna eu, dapibus orci. Praesent sem ante, malesuada a nibh quis, 
            lacinia egestas felis. Ut vitae sapien ac lacus egestas sollicitudin in a sapien.
            Mauris convallis, diam a viverra consectetur, metus velit aliquam odio, sit amet facilisis sapien purus quis orci. 
            Ut eget libero iaculis, ultricies odio vitae, scelerisque felis. Sed in libero ultricies, eleifend tortor eu,
            scelerisque velit. Nam facilisis tincidunt erat, in lacinia erat fermentum quis. Aliquam eleifend,
            urna eu malesuada tincidunt, erat purus rutrum lorem, non tempor eros quam a quam.
            Cras erat ligula, ultricies quis consequat vitae, ullamcorper ac nisl.
            Nulla viverra mi elit, in facilisis nunc porttitor eget. In pulvinar molestie posuere.
        </p>
    </div>

</div>

